<div class="content mat-elevation-z8">
  <app-toolbar-title title="Cursos" icon="fa-solid fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>

  <div class="container">

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem omnis nisi vel ipsum maiores deserunt eum dolores earum tempore. Neque eveniet fugit qui, atque nemo culpa repudiandae nam iure libero?
    <br>
    <br>
    <br>
    
    <router-outlet></router-outlet>
  </div>
  
</div>
