/* You can add global styles to this file, and also import other style files */

@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content{
  padding: 20px;
  border-radius: 5px;
  margin: -30px 34px 35px;
  background-color: white;
}

mat-icon{
  overflow: visible !important;
}

mat-form-field{
  background-color: white !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled){
  background-color: white !important;
}

.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0;
}

.mat-mdc-form-field-focus-overlay {
  background-color: rgba(0,0,0, .0) !important;
}